::selection {
    background: #ff4d29;
    color: #fff;
}

body, html {
    color: #66727e;
    background: #fbfbfc;
}
    body.dark {
        background: #373c44;
    }
    body.body-docs .header {
        background: #bbb !important;
    }
        body.body-docs .header .btn {
            background: #888 !important;
            color: white !important;
        }
        body.body-docs .header .btn.transparent {
            background: transparent !important;
        }

a {
    color: #2450A3;
}
    a:hover {
        color: #ff4d29;
    }
    p a {
        border-bottom: 1px solid #d3e2f1;
    }
        p a:hover {
            border-color: #e2efc6;
        }
        
b {
    color: #505b67;
}

blockquote {
    background: #e9f0f8;
    color: #3f5d80;
}
    blockquote + cite:after {
        border-top: 10px solid #e9f0f8;
    }

.banner {
	background-color: #9AABCB;
	color: white;
}
	.banner h1, .banner h2, .banner h3, .banner h4, .banner h5, .banner h6, .banner a {
		color: white;
	}

span.hilite, i.hilite, mark {
    background: #ebf2fc;
    color: #3e649e;
}
    
h1 {
    color: #414a54;
}
    .dark :-webkit-any(h1, h2, h3, h4) {
        color: #fff;
    }
h2, h3, h4 {
    color: #414a54;
}

nav li a {
    color: #7e8797;
}
    nav li a:hover {
        color: #4d535e;
    }
    nav li.active a, nav li a.active {
        background: #fff;
    }

/**
 *   Forms
 */
:placeholder { color: #aaa; }
::-webkit-input-placeholder { color: #aaa; }
::-moz-placeholder { color: #aaa; }


/* Standard inputs */
input, textarea {
    border: 2px solid #ccc;
    color: #606773;
    
    background: white;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #66727e;
    background: #f3f3f3;
}

.planner input[type="text"]:focus {
    background-color: white;
    padding: 10px 14px;
    border-width: 2px;
    border-color: rgba(255, 98, 66, .8);
}

select {
    background: white url('arrow.png') no-repeat 100% 50%;
    border: 1px solid white;
    color: #65717d;
}
select option{
	background-color:#b7d0ee;
}

.success input {
    border-color: #82b01e;
    color: #6e7e4a;
}
    .success input:focus {
        background: #fbfff3;
    }
    .success .status {
        color: #82b01e;
    }
.error input {
    border-color: #d13d29;
    color: #884b43;
}
    .error input:focus {
        background: #fff6f5;
    }
    .error .status {
        color: #d13d29;
    }

a.alert,
.block-link {
	color: #66727e;
	text-decoration: none;
}
.alert.red {
    background-color: #f4dfdf;
    color: #9f6f6e;
}
.alert.blue {
    background-color: #D8ECFF;
    color: #7B84A7;
}
.alert.yellow {
	background-color: #f7f2d9;
	color: #9e966a;
}
    .alert.yellow > * {
        color: #9e966a !important;
    }
.alert.green {
	background-color: #e0f8da;
	color: #6a8c61;
}
.alert.gray {
	background-color: #e9e9e9;
}
    
/* Buttons! So many buttons! */
button, .btn, [type=submit], [type=button], .week-table td a:hover {
    background: #ff4d29;
    color: #fff;
    cursor: pointer;
}
    button:hover, .btn:hover, [type=submit]:hover, [type=button]:hover {
        background: #d63e1f;
        color: #fff;
    }
button.green, .btn.green, [type=submit].green,
button.primary, .btn.primary, [type=submit].primary {
    background: #75ab1f;
}
    button.green:hover, .btn.green:hover, [type=submit].green:hover,
    button.primary:hover, .btn.primary:hover, [type=submit].primary:hover {
        background: #619214;
    }
button.red, .btn.red, [type=submit].red, [type=button].red,
button.danger, .btn.danger, [type=submit].danger /* High voltage */ {
    background: #cf402d;
}
    button.red:hover, .btn.red:hover, [type=submit].red:hover, [type=button].red:hover,
    button.danger:hover, .btn.danger:hover, [type=submit].danger:hover {
        background: #a2200f;
    }
button.orange, .btn.orange, [type=submit].orange,
button.warning, .btn.warning, [type=submit].warning {
    background: #de8925;
}
    button.orange:hover, .btn.orange:hover, [type=submit].orange:hover,
    button.warning:hover, .btn.warning:hover, [type=submit].warning:hover {
        background: #c56110;
    }
button.white, .btn.white, [type=submit].white {
    background: #fff;
    color: #65717d;
}
button.transparent, .btn.transparent, [type=submit].transparent {
    background: transparent;
    color: white;
}
    button.transparent:hover, .btn.transparent:hover, [type=submit].transparent:hover {
        background: transparent;
        color: white;
    }
button.gray, .btn.gray, [type=submit].gray, [type=reset] {
    background: #e9e9e9;
    color: #66727e;
}
	button.gray:hover, .btn.gray:hover, [type=submit].gray:hover, [type=reset]:hover {
	    background: #c7c7c7;
	    color: #66727e;
	}

button.pink, .btn.pink, [type=submit].pink {
    background: #de3882;
}
    button.pink:hover, .btn.pink:hover, [type=submit].pink:hover {
        background: #bb1d63;
    }
button.purple, .btn.purple, [type=submit].purple {
    background: #813fbe;
}
    button.purple:hover, .btn.purple:hover, [type=submit].purple:hover {
        background: #63279c;
    }
    
button.facebook, .btn.facebook, [type=submit].facebook {
    background: #3B5998;
}
    button.facebook:hover, .btn.facebook:hover, [type=submit].facebook:hover {
        background: #344f86;
    }
    
button.twitter, .btn.twitter, [type=submit].twitter {
    background: #00A0D1;
}
    button.twitter:hover, .btn.twitter:hover, [type=submit].twitter:hover {
        background: #008db7;
    }
    
button.twitter, .btn.twitter, [type=submit].twitter {
    background: #00A0D1;
}
    button.twitter:hover, .btn.twitter:hover, [type=submit].twitter:hover {
        background: #008db7;
    }
    
button.google, .btn.google, [type=submit].google {
    background: #C63D2D;
}
    button.google:hover, .btn.google:hover, [type=submit].google:hover {
        background: #ae3427;
    }
    
button.outlook, .btn.outlook, [type=submit].outlook {
    background: #0072C6;
}
    button.outlook:hover, .btn.outlook:hover, [type=submit].outlook:hover {
        background: #025fa0;
    }
    
button.yahoo, .btn.yahoo, [type=submit].yahoo {
    background: #6E329D;
}
    button.yahoo:hover, .btn.yahoo:hover, [type=submit].yahoo:hover {
        background: #5b2485;
    }
    
button.paypal, .btn.paypal, [type=submit].paypal {
    background: #337ECA;
}
    button.paypal:hover, .btn.paypal:hover, [type=submit].paypal:hover {
        background: #236fba;
    }
    
button.ideal, .btn.ideal, [type=submit].ideal {
    background: #d51774;
}
    button.ideal:hover, .btn.ideal:hover, [type=submit].ideal:hover {
        background: #be1969;
    }
    
button.amazon, .btn.amazon, [type=submit].amazon {
    background: #e47911;
}
    button.amazon:hover, .btn.amazon:hover, [type=submit].amazon:hover {
        background: #cd761e;
    }
    
button[disabled], .btn[disabled], [type=submit][disabled],
button.disabled, .btn.disabled, [type=submit][disabled] {
    background: #cbcfd6;
    color: #6f7886;
}

::-webkit-file-upload-button {
    background-color: #33aad6;
    color: #fff;
}
    ::-webkit-file-upload-button:hover {
        background-color: #1e8ab2;
    }
    
/**
 *   Tables
 */
th, thead td {
    color: #66727e;
    border-bottom: 2px solid #e4d5d2;
}

/**
 *   List items
 */
li:before {
    color: #8aa0bf;
}

/**
 *   Navigation
 */
.navigation a {
    color: #626d79;
}
    .navigation a:hover {
        color: #ff4d29;
    }
    .sidemenu .navigation a:hover {
        background: rgba(0,0,0,0.1);
    }
.navigation li {
    border-color: #e8e8e8 !important;
}

.traject-overview:hover {
    color: white;
    background-color: #ff4d29;
}
    
hr {
	height: 0px;
	border: 0;
	border-bottom: 1px solid #cacccf;
	margin-bottom: 15px;
}

.footer {
    border-top: 1px solid #ddd;
	color: #a9b1b9;
	text-align: center;
}
.footer a {
	color: #a9b1b9;
}