/**
 *   Butterfly UI
 *   A simpler framework for simpler sites
 *
 *   Typin', inputtin', it's all good.
 */
 
.planner form input[type="submit"] {
	margin: 0;
	padding-top: 13px;
	padding-bottom: 12px;
    font-size: 1.2em;
}
.planner form input[type=text] {
    border-color: white;
    border-width: 0;
    font-size: 1.3em;
    margin: 0;
    padding: 12px 16px;
    -webkit-transition: 0;
    transition: 0;
}
.planner label {
	text-align: center;
}
 
/* Texty inputs */
input, textarea {
    padding: 10px 14px;
    margin-bottom: 15px;

    border-radius: 5px;
    font-size: 13px;
    
    -webkit-appearance: none;
}
    textarea {
        resize: vertical;
        
        min-height: 100px;
        max-height: 600px;
    }
        textarea.small {
            min-height: 45px;
            max-height: 150px;
        }
        textarea.tall {
            min-height: 200px;
            max-height: 750px;
        }
    input:focus, textarea:focus {
        outline: none;
    }
    label input {
    	margin-top: 10px;
    }
.code-form {

}
    .code-form .code-field {
        font-size: 2em;
        height: 55px;
        text-align: left;
        margin: 0;
    }
    .code-form input[type=submit] {
        margin: 0;
        height: 55px;
        font-size: 1.1em;
        float: right;
    }
    
select {
    -webkit-appearance: none;
    border: none;
    
    font-family: inherit;
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
    
    padding: 7px 20px;
    margin-bottom: 15px;
    
    border-radius: 5px;
}
    select:focus {
        outline: none;
    }
    
button, .btn, [type=submit], [type=reset], [type=button] {
    display: inline-block;
    padding: 10px 19px;
    margin-right: 20px; /* Multiple buttons next to each other */
    margin-bottom: 10px;
    
    border: none;
    border-radius: 5px;
    
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}
	button.big, .btn.big, [type=submit].big, [type=reset].big, [type=button].big {
		width: 100%;
	}
	button.right, .btn.right, [type=submit].right, [type=reset].right, [type=button].right {
		margin-right: 0;
	}
    ::-webkit-file-upload-button {
        padding: 9px 19px 8px;
        
        border: none;
        border-radius: 5px;
        
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
    }
    form button, [type=submit], [type=reset] {
        padding: 10px 23px;
    }
    button.small, .btn.small, [type=submit].small, [type=reset].small, [type=button].small {
    	padding: 4px 12px;
    	margin-right: 0;
    	margin-bottom: 5px;
    	font-size: 13px;
    }
    button.large, .btn.large, [type=submit].large, [type=reset].large, [type=button].large {
    	width: 100%;
    	text-align: center;
    }
    
.inloggen .btn {
	margin-right: 0;
}
    
label {
    display: block;
    padding: 4px 0 8px;
    
    line-height: 19px;
    font-weight: 500;
}

legend {
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    position: relative;
    
    font-size: 19px;
    font-weight: 500;
}

/**
 *   Full-size forms
 */
legend, .full p {
    border-bottom: 1px solid #ededed;    
}
.full input {
	font-size: 1.2em;
}
.full label {
	line-height: 1.4em;
}
.full p {
    min-height: 70px;
    margin: 15px 0;
    padding-bottom: 5px;
    font-size: 1.1em;
}
.full .help {
    display: block;    
    margin-top: -2px;
    
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    color: #9ba5b6;
}
.full .status {
    padding-left: 20px;
}
.full button, .full .btn, .full input[type="submit"], .full input[type="button"] {
	display: block;
	margin: 0 auto;
}
.full label {
    float: left;
    padding: 5px 0 15px;
}
.full p.one-fifth,
.full p.two-fifth,
.full p.one-seventh {
	padding: 5px 5px 0;
}

/**
 *   Horizontal forms
 */
.horizontal p {
    border-bottom: 0;
    margin: 0;
    padding: 5px;
    display: inline-block;
}
.horizontal input, .horizontal textarea, .horizontal select {
    width: 100%;
}
.horizontal input.not-required:empty { opacity: .7; }

.horizontal p span {
    font-weight: bold;
}
.horizontal input[type="text"] {
	font-size: 1.1em;
}
    p.fourth {
    	width: 25%;
    	vertical-align: middle;
    }
    p.fifth {
    	width: 20%;
    	vertical-align: middle;
    }
    p.two-fifth {
    	width: 40%;
    	vertical-align: middle;
    }
    p.four-fifth {
    	width: 80%;
    	vertical-align: middle;
    }
    p.sixth {
    	width: 16.665%;
    	vertical-align: middle;
    }
    p.third {
        width: 33.3%;
        vertical-align: middle;
    }
    p.eighth {
        width: 12.5%;
        vertical-align: middle;
    }
    p.five-sixteenth {
        width: 31.25%;
        vertical-align: middle;
    }
    p input {
    	width: 100%;
    	vertical-align: middle;
    }
    
form.invisible {

}
form.invisible input[type=text] {
    background-color: transparent;
    border-width: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
}
    form.invisible input[type=text]:focus {
        border-width: 2px;
        padding: 8px 10px;
        background-color: rgba(255,255,255,0.6);
    }

.fallback {
	display: none;
}
.alert .btn {
    margin-bottom: 0;
    margin-right: 10px;
    margin-left: 10px;
}

/**
 *   File upload fields
 */
 
[type=file] {
    -webkit-appearance: none;
    padding: 0;
    border: none;
}
    [type=file]::-webkit-file-upload-button {
        -webkit-appearance: none;
        padding-left: 43px;
        
        background-image: url('cloud.png');
        background-repeat: no-repeat;
        background-position: 15px 50%;
    }