.nopadding { padding: 0 !important; }
.nomargin { margin: 0 !important; }
.center { text-align: center; }

.center, .wrap {
    margin: 0 auto 25px !important; 
    overflow: visible;
}

.wrap {
	position: relative;
	padding: 0 0px;
	width: 1000px;
}
.planner {
	z-index: 999;
	position: absolute;
	top: 300px;
	left: 50%;
	width: 1000px;
	margin: 0;
	margin-left: -500px;
	background: rgba(255,255,255,0.6);
	border-radius: 3px;
	padding: 10px;
}
	.planner .tabs div {
		background: #fbfbfc;
		padding: 5px 25px 16px;
		border-radius: 3px 3px 0 0;
	}

.dialog-window {
    position: fixed;
    top: 100px;
    left: 50%;
    width: 500px;
    background: white;
    z-index: 999999999;
    padding: 25px;
    margin-left: -250px;
    border-radius: 5px;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.3);
}
	.dialog-window h2 { text-align: center; }
	.dialog-window .btn,
	.dialog-window button, 
	.dialog-window input[type="submit"] { float: right; margin-bottom: 0;margin-right: 0; }
	.dialog-window .dialog-cancel { float: none; }

.dialog-overlay {
	position: fixed;
	z-index: 9999999;
	display: block;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
}

	
.inloggen {
	background-color: #e9e9e9;
	border-radius: 5px;
	padding: 0 30px 20px;
	text-align: center;
}
	.inloggen legend, .alert legend {
    	border-bottom: 1px solid #cacccf;  
   		text-align: center;
    }
    .inloggen table {
    	width: 100%;
    	margin: 15px 0 5px;
    }
    	.inloggen table tr,
    	.inloggen table td {
    		text-align: left;
    		background: transparent !important;
    		border-bottom: 0;
    	}
    	.inloggen table td:nth-child(2) {
    		font-weight: bold;
    		text-align: right;
    	}
    .inloggen span {
    	display: block;
    	text-align: left;
    	padding-bottom: 20px;
    }
    .inloggen .btn, .inloggen input {
    	width: 100%;
    }
   
.button-holder {
	text-align: center;
	padding: 10px 0;
}
    
.block-link {
	display: block;
	padding: 15px 0;
}
    
.alert {
	border-radius: 5px;
	padding: 20px 30px;
	margin-bottom: 15px;
	display: block;
}
a.alert {
	display: block;
}
	.alert.big {
		font-size: 1.2em;
		padding: 30px 35px;
		text-align: center;
	}
	.alert legend {
		margin: 0;
		padding-top: 0;
	}

.reismogelijkheid {
	font-size: 1.1em;
	text-align: left;
	display: block;
	width: 100%;
}
	.reismogelijkheid .btn {
		margin: 5px 0 0 0 !important;
	}
.reismogelijkheid-small {
	display: block;
	width: 100%;
	text-align: left !important;
	font-size: 2em;
	margin: 0 0 10px !important;
}
	.reismogelijkheid-small span {
		display: inline-block;
		padding: 10px 0 0;
	}
		.reismogelijkheid-small span small {
			font-size: .6em;
		}
	.reismogelijkheid-small .btn {
		float: right;
		margin: 0 !important;
	}
	
	.reismogelijkheid .table-label {
		display: block;
	}
.reismogelijkheid .btn {
	margin-top: 25px;
}
.reismogelijkheid .info {
	display: none;
	margin-top: 20px;
	margin-bottom: 5px;
}
	.reismogelijkheid-selected .info {
		display: block;
		margin-top: 15px;
	}
.reismogelijkheid .info ul {
	list-style: none;
	padding-left: 0;
	margin-left: 25px;
	position: relative;
}
.reismogelijkheid .info ul li {
	line-height: 35px;
	padding-right: 25px;
	position: relative;
}
.reismogelijkheid .info ul li:before {
   content: "";
   display: inline-block;
   width: 10px;
   height: 10px;
   background-color: #66727e;
   border-radius: 50px;
   font-size: 50px;
   line-height: 35px;
   margin-right: 25px;
   margin-left: -7px;
}
.reismogelijkheid .info ul li:hover:before {
   border: 3px solid #66727e;
   margin-left: -10px;
   margin-bottom: -3px;
   margin-right: 22px;
}

.reismogelijkheid .info ul li:after {
   content: "";
   display: block;
   position: absolute;
   top: 14px;
   left: -4px;
   width: 4px;
   height: 35px;
   background-color: #66727e;
}
.reismogelijkheid .info ul li:last-child:after {
   content: "";
   display: none;
}
.reismogelijkheid .info ul li.overstap:before, .reismogelijkheid .info ul li.overstap:hover:before {
	font-family: FontAwesome;
	display: inline-block;
	font-size: 1.6em;
	content: "\f0e7";
	background: transparent;
	color: #66727e;
	border: 0;
    margin-right: 25px;
    margin-left: -7px;
    margin-bottom: 0;
}
.reismogelijkheid .info ul li.overstap:after {
   content: "";
   display: none;
}


#reismogelijkheden-holder {
	text-align: center;
}
.reismogelijkheid-collapsed {
	margin: 0 !important;
	border-bottom: 2px solid #fbfbfc;
	border-radius: 0 !important;
}
	.reismogelijkheid-collapsed:first-of-type {
		border-radius: 3px 3px 0 0 !important;
	}
	.reismogelijkheid-collapsed:last-of-type {
		border-radius: 0 0 3px 3px !important;
		margin-bottom: 25px !important;
		border-bottom: 0;
	}

	
/* Grid system */
[class*='col'], .content, .sidebar {
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    
    margin: 0 10px 20px;
}

.banner {
	border-radius: 5px;
	width: 100%;
	text-align: center;
	padding: 25px;
}

.col10 { width: 1000px; margin: 0 0 20px; }
.col9 { width: 900px; margin: 0 0 20px; }
.col8 { width: 800px; margin: 0 0 20px; }
.col7, .content { width: 700px; margin: 0 0 20px; }
.col6 { width: 600px; margin: 0 0 20px; }
.col5 { width: 480px; }
.col4 { width: 380px; }
.col3, .sidebar { width: 280px; }
.col2 { width: 180px; }
.col1 { width: 80px; }
    
/* Offsets */
.offset8 { margin-left: 800px; }
.offset7 { margin-left: 700px; }
.offset6 { margin-left: 600px; }
.offset5 { margin-left: 500px; }
.offset4 { margin-left: 400px; }
.offset3 { margin-left: 300px; }
.offset2 { margin-left: 200px; }
.offset1 { margin-left: 100px; }


.one-half,
.one-third,
.two-third,
.one-fourth,
.three-fourth,
.one-fifth,
.two-fifth,
.one-sixth,
.one-seventh {
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    text-align: center;
}

.one-half {		width: 50%; }
.one-third {	width: 33%; }
.two-third {	width: 66%; }
.one-fifth {	width: 20%; }
.three-fourth {	width: 75%;	}
.one-fourth {	width: 25%; }
.two-fifth {	width: 40%; }
.one-sixth {	width: 16%; }
.one-seventh {	width: 14.2%; padding-top: 15px; }

.one-seventh input {
	margin: 0;
	padding: 0;
	width: auto;
}
.one-seventh input[type=checkbox] {
	-webkit-appearance: checkbox;
}

.left {
    float: left;
}
.right {
    float: right;
}

.vertically-centered {
	position: absolute;
	left: 50%;
	top: 50%;
}
    
.header {
    margin-bottom: 0px;
    background-color: #FF6242;
}
.subtitle {
	margin-top: 15px;
	margin-bottom: 15px !important;
	padding-top: 0;
	width: auto;
	border: 0;
}

.plannen-title-prijs {
	text-align: center;
	padding: 0;
	float: right;
	margin-bottom: 0;
}
.traject-dagen {
	padding-top: 25px;
}

.plannen-title {
    margin-bottom: 10px !important;
}

.traject-overview {
	display: inline-block !important;
	box-sizing: border-box;
	width: 33.33%;
	display: inline-block;
	vertical-align: top;
	color: #66727e;
	
	padding: 0;
	margin: 15px 0 0;
	border-radius: 0;
	background-color: transparent;
	border-right: 1px solid #ddd !important;
	
	position: relative;
	text-align: left;
	min-height: 100px;
	text-decoration: none;
	text-align: left !important;
}
	.traject-overview:last-child {
		border-right: 0 !important;
	}
	.traject-overview:hover {
		color: #ff4d29 !important;
		background-color: transparent !important;
	}
	.traject-overview.empty {
		background-color: transparent;
	}
	.traject-overview .btn small {
		font-weight: normal;
	}
	.traject-overview .station {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		*zoom: 1;
		
		padding: 10px 20px;
		margin: 0;
		
		line-height: 1.9em;
		font-size: 1.2em;
		text-align: center;
	
		width: 45%;
	}
	.traject-overview .divider {
		font-size: 30px;
		width: 10%;
		margin-bottom: 15px;
		line-height: 30px;
		vertical-align: middle;
		text-align: center;
		display: inline-block;
	}
	.traject-overview .half {
		display: inline-block;
		width: 50%;
		margin: 0;
		padding: 5px 15px;
		text-align: center;
		background-color: transparent;
		line-height: 1.5em;
	}
		.traject-overview .half span {
			display: block;
			font-size: 1.6em;
		}
		.traject-overview .half i {
			font-style: normal;
		}
	
.tiles-list {
	padding: 0;
	list-style: none;
}
	.tiles-list .tile {
		display: block;
		text-decoration: none;
		color: rgb(102, 114, 126);
		margin: 15px 0;
		padding: 20px 20px 10px;
		border-radius: 5px;
		background-color: white;
		border: 2px solid #e9e9e9;
		position: relative;
	}
		.tiles-list .tile .arrow {
			display: inline-block;
			right: 15px;
			padding: 6px 12px;
			margin-right: 0;
			margin-bottom: 5px;
			font-size: 13px;
			margin-top: -13px;
			top: 50%;
			position: absolute;
		}
		.tiles-list .tile p {
			padding: 0 45px 0 0;
		}
		.tiles-list .tile .mogelijkheid {
			line-height: 30px;
			font-size: 1.8em;
		}


.block-dag span {
	display: block;
	width: 100%;
	padding: 5px 0 10px;
	margin: 0;
	border-bottom: 1px solid #c6cdd3;
}
.clickable-list {
	text-align: left;
}
.clickable-list a {
	display: block;
	text-decoration: none;
}
.clickable-list.eindbestemmingen a {
	width: 33.33%;
	display: inline-block;
	border-top: 1px solid #ddd;
	padding: 20px 25px;
	margin: 0 auto;
	color: #626D79;
	font-size: 1.4em;
	text-decoration: none;
}
	.clickable-list.eindbestemmingen a:hover,
	.clickable-list.eindbestemmingen a:hover span {
		color: #ff4d29;
	}
	.clickable-list a:nth-child(1), 
	.clickable-list a:nth-child(2), 
	.clickable-list a:nth-child(3) {
		border: 0;
	}
	.clickable-list a .btn {
		color: #626D79;
		font-size: 1.6em;
		background-color: transparent;
		padding: 0;
		margin: -4px 0 0;
		float: right;
	}
.clickable-list a.list-item {
	display: block;
	font-size: 1.2em;
	text-decoration: none;
	text-align: center;
	color: #66727e;
	padding: 10px 0;
}
.clickable-list a.list-item:hover {
	color: #ff4d29;
}
.uitgelicht h2,
.uitgelicht p {
	padding-left: 10px;
}

.tooltip-planner {
	animation-name: tooltip;
	-webkit-animation-name: tooltip;
	-moz-animation-name: tooltip;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	position: absolute;
	top: -50px;
	left: 15px;
	background: rgba(255, 255, 255, .8);
	color: #ff4d29;
	padding: 7px 13px;
	border-radius: 3px;
}
.tooltip-planner:after {
	bottom: 100%;
	left: 10px;
	bottom: -20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.tooltip-planner:after {
	border-color: transparent;
	border-top-color: rgba(255,255,255,.8);
	border-width: 10px 10px;
}

@keyframes tooltip {
	0% { opacity: 0; }
	50% { opacity: 0; top: -65px; }
	100% { opacity: 1; top: -50px; }
}
@-webkit-keyframes tooltip {
	0% { opacity: 0; }
	50% { opacity: 0; top: -65px; }
	100% { opacity: 1; top: -50px; }
}
@-moz-keyframes tooltip {
	0% { opacity: 0; }
	50% { opacity: 0; top: -65px; }
	100% { opacity: 1; top: -50px; }
}

@keyframes overlay {
	0% { opacity: 0; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes overlay {
	0% { opacity: 0; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes overlay {
	0% { opacity: 0; }
	50% { opacity: 0;; }
	100% { opacity: 1; }
}

.promotional-popup {
	animation-name: overlay;
	-webkit-animation-name: overlay;
	-moz-animation-name: overlay;
	animation-duration: .5s;
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 99999999999999;

	background-color: rgba(0,0,0,0.75);
	color: white;
}
body.overlay > .promotional-popup {
	display: block;
}
.promotional-popup .inner {
	max-width: 1050px;
	margin: 0 auto;
	position: relative;
}
	.promotional-popup .close {
		display: block;
		width: auto;
		position: absolute;
		right: 20px;
		top: 10px;
		padding: 0;
		margin: 0;
		cursor: pointer;
		color: white;
	}
		.promotional-popup .close i {
			font-size: 3.4em;
		}
	.promotional-popup h2 {
		color: white;
		font-weight: 300;
	}
	.promotional-reisplanner {
		position: absolute;
		left: 80px;
		top: 324px;
		width: 525px;
		text-align: left;
		font-size: 1.4em;
	}
	.promotional-abonnementhouders {
		position: absolute;
		right: 32px;
		top: 42px;
		width: 525px;
		text-align: right;
		font-size: 1.4em;
	}
		.promotional-abonnementhouders img,
		.promotional-reisplanner img {
			float: right;
			height: 100px;
			width: 100px;
		}
		.promotional-reisplanner img {
			float: left;
		}

.side-info-item {
	display: block;
	font-size: 1.5em;
	font-weight: 400;
	padding-bottom: 20px;
}
	.side-info-item i {
		font-size: 1.2em;
		padding-top: 5px;
	}
	.side-info-item input {
		font-size: 1.1em;
	}

.uitleg-item {
	display: table;
	padding: 40px 0 40px;
	margin: 0;
	text-align: center;
}
	.uitleg-item.uitleg-last {
		padding-bottom: 60px;
	}
	.uitleg-item.uitleg-first {
		padding-top: 60px;
	}
	.uitleg-item.uitleg-small {
		display: block;
		text-align: left;
		padding: 20px 0;
	}
		.uitleg-item.uitleg-small .uitleg-content {
			display: block;
			width: 100% !important;
			text-align: left;
		}
		.uitleg-item.uitleg-small .uitleg-content p {
			line-height: 50px !important;
		}

.uitleg-item.border {
	border-bottom: 1px solid #ddd;
}
.uitleg-item.notop {
	padding-top: 0;
	margin-top: 0;
}
	.uitleg-item .uitleg-icon,
	.uitleg-item .uitleg-content {
		display: table-cell;
		vertical-align: middle;
	}
	.uitleg-item .uitleg-icon {
		font-size: 10em;
		width: 35%;
		text-align: center;
	}
	.uitleg-item .uitleg-content {
		padding: 0;
		text-align: left;
	}
	.uitleg-item .uitleg-content.fullsize {
		width: 900px;
		margin: 0 40px;
		padding: 0;
		display: block;
	}
		.uitleg-item .uitleg-content p {
			line-height: 1.9em;
			font-size: 1.2em;
		}

.light-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ddd;
}
	.light-menu li {
		margin: 0;
		padding: 0;
		display: inline-block;
	}
	.light-menu li a {
		margin: 0;
		padding: 15px 20px;
		display: inline-block;
		font-size: 1.2em;
		border-bottom: 2px solid transparent;
		margin-bottom: -1px;
		color: #66727e;
		text-decoration: none;
	}
		.light-menu li a.current {
			border-bottom: 2px solid #ff4d29;
		}

.huge-icon {
	font-size: 3em;
	display: block;
	width: 100%;
	text-align: center;
	margin: 25px 0 15px;
}

.footer {
	padding: 25px 0 0;
	margin-top: 15px;
}

.mobile-only { display: none !important; }
