@import 'reset.css';

@import 'transitions.css';
@import 'typography.css';

@import 'jquery-ui.css';

.mobile-only { display: block; }
.desktop-only { display: none !important; }

* {
	-webkit-tap-highlight-color: transparent;
	outline: 0;
}

*:not(input) {
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
}

/*
*	TYPOGRAPHY.CSS  /  mobile version
*/

		body, html {
			overflow-y: visible !important;
			overflow-x: hidden !important;
		    font: 13px/22px "Helvetica Neue", sans-serif;
		    height: 100%;
		}
		
		h1 {
		    font-size: 28px;
		    line-height: 35px;
		    font-weight: light;
		    text-align: center;
		    position: relative;
		    font-family: "Helvetica Neue", sans-serif;
		    
		    padding-bottom: .4em;
		}
		h2 {
		    font-size: 25px;
		    line-height: 33px;
		    font-weight: 500;
		    
		    padding-bottom: 19px;
		}
		.subtitle {
			margin: 0 auto;
			text-align: center;
		}
		    .sidebar h2 {
		        font-size: 15px;
		        line-height: 25px;
		    }
		h3 {
		    font-size: 24px;
		    line-height: 39px;
		    font-weight: 300;
		    
		    padding-bottom: .7em;
		}
		h4 {
		    font-size: 17px;
		    line-height: 25px;
		    font-weight: 500;
		    margin: 20px 15px 0;
		    padding: 0;
		}
		
		p {
		    padding-bottom: 1em;
		}
		
		i.hilite {
		    font-style: normal;
		}
		
		code, pre {
		    font: 90%/140% Inconsolata, monospace;
		}
		
		blockquote {
		    font: italic 14px/24px Georgia, serif;
		}
		
		ol li {
		    min-height: 70px;
		    margin: 5px 0;
		    font-size: 1.3em;
			line-height: 1.4em;
		    padding: 5px 0 15px;
		}
		ol li .help {
		    display: block;    
		    margin-top: -2px;
		    
		    font-size: 13px;
		    font-style: normal;
		    font-weight: normal;
		    color: #9ba5b6;
		}
		
		.small {
			font-size: 0.8em;
		}
		.large {
			margin-top: 6px;
			display: inline-block;
			font-size: 1.6em;
		}
			ul.large li, ol.large li {
				padding-bottom: 10px;
			}
		.verylarge {
			font-size: 2.2em;
			display: inline-block;
			margin-top: 4px;
			font-weight: light;
		}
/*	.placeholder {
		text-align: left;
		font-weight: 400 !important;
		opacity: .55;
	}*/
	.android-header {
		display: block;
		width: 90%;
		margin: 10px 5% 0;
		padding: 0 10px 5px;

		text-transform: uppercase;
		text-align: left;
		border-bottom: 2px solid #ff5735;
		color: #ff5735;
		font-weight: bold;
		font-size: .9em;
	}



/*
*	COLOURS.CSS  /  mobile version
*/

		::selection {
		    background: #ff5735;
		    color: #fff;
		}
		
		body, html {
		    color: #66727e;
/*		    color: #8d8d8d;*/
		    background: white;
		}
		    body.dark {
		        background: #373c44;
		    }
		    
		a {
		    color: #2450A3;
		}
		a.nolink {
			color: #66727e !important;
		}
		    a:hover {
		        color: #1C3F80;
		    }
		    p a {
		        border-bottom: 1px solid #d3e2f1;
		    }
		        p a:hover {
		            border-color: #e2efc6;
		        }
		        
		b {
		    color: #505b67;
		}
		
		blockquote {
		    background: #e9f0f8;
		    color: #3f5d80;
		}
		    blockquote + cite:after {
		        border-top: 10px solid #e9f0f8;
		    }
		
		.banner {
			background-color: #9AABCB;
			color: white;
		}
			.banner h1, .banner h2, .banner h3, .banner h4, .banner h5, .banner h6, .banner a {
				color: white;
			}
		
		span.hilite, i.hilite, mark {
		    background: #ebf2fc;
		    color: #3e649e;
		}
		    
		h1 {
		    color: #414a54;
		}
		    .dark :-webkit-any(h1, h2, h3, h4) {
		        color: #fff;
		    }
		h2, h3, h4 {
		    color: #66727e;
		}
		
		nav li a {
		    color: #7e8797;
		}
		    nav li a:hover {
		        color: #4d535e;
		    }
		    nav li.active a, nav li a.active {
		        background: #fff;
		    }
		
		/**
		 *   Forms
		 */
		:placeholder { color: #ccc; }
		    ::-webkit-input-placeholder { color: #ccc; }
		    ::-moz-placeholder { color: #ccc; }
		
		
		/* Standard inputs */
		input, textarea {
		    border: 0px solid #ccc;
		    color: #606773;
		    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2);
		    
		    background: white;
		}
		
		input[type="text"]:focus, textarea:focus {
		    background: #f7f7f7;
		}
		
		select {
		    background: white url('arrow.png') no-repeat 100% 50%;
		    border: 2px solid white;
		    color: #65717d;
		    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2);
		}
		select option{
			background-color:#b7d0ee;
		}
		
		.success input {
		    border-color: #82b01e;
		    color: #6e7e4a;
		}
		    .success input:focus {
		        background: #fbfff3;
		    }
		    .success .status {
		        color: #82b01e;
		    }
		.error input {
		    border-color: #d13d29;
		    color: #884b43;
		}
		    .error input:focus {
		        background: #fff6f5;
		    }
		    .error .status {
		        color: #d13d29;
		    }
		   
		.alert.red {
			background-color: #f4dfdf;
			color: #9f6f6e;
		}
		.alert.blue {
			background-color: #D8ECFF;
			color: #7B84A7;
		}
		.alert.yellow {
			background-color: #f7f2d9;
			color: #9e966a;
		}
		.alert.yellow > * {
       		color: #9e966a !important;
    	}
		.alert.green {
			background-color: #e0f8da !important;
			color: #6a8c61;
		}
		.alert.gray {
			background-color: white;
			width: auto;
			box-shadow: none;
		}
		.reismogelijkheid:nth-child(odd) {
			background-color: #f1f1f1;
		}
		.inloggen {
			background-color: transparent;
		}
		    
		/* Buttons! So many buttons! */
		button, .btn, [type=submit], [type=button] {
		    background: #ff5735;
		    color: #fff;
		    cursor: pointer;
		    box-shadow: none;
		}
		    button:hover, .btn:hover, [type=submit]:hover, [type=button]:hover {
		        background: #d63e1f;
		        color: #fff;
		    }
		button.green, .btn.green, [type=submit].green,
		button.primary, .btn.primary, [type=submit].primary {
		    background: #75ab1f;
		}
		    button.green:hover, .btn.green:hover, [type=submit].green:hover,
		    button.primary:hover, .btn.primary:hover, [type=submit].primary:hover {
		        background: #619214;
		    }
		button.red, .btn.red, [type=submit].red, [type=button].red,
		button.danger, .btn.danger, [type=submit].danger /* High voltage */ {
		    background: #cf402d;
		}
		    button.red:hover, .btn.red:hover, [type=submit].red:hover, [type=button].red:hover,
		    button.danger:hover, .btn.danger:hover, [type=submit].danger:hover {
		        background: #a2200f;
		    }
		button.orange, .btn.orange, [type=submit].orange,
		button.warning, .btn.warning, [type=submit].warning {
		    background: #de8925;
		}
		    button.orange:hover, .btn.orange:hover, [type=submit].orange:hover,
		    button.warning:hover, .btn.warning:hover, [type=submit].warning:hover {
		        background: #c56110;
		    }
		button.white, .btn.white, [type=submit].white {
		    background: #fff;
		    color: #65717d;
		}
		button.gray, .btn.gray, [type=submit].gray, [type=reset] {
		    background-color: #f1f3f5;
		    color: rgb(141,141,141);
		}
			button.gray:hover, .btn.gray:hover, [type=submit].gray:hover, [type=reset]:hover {
			    background-color: #e1e3e5;
			    color: rgb(141,141,141);
			}
		
		button.pink, .btn.pink, [type=submit].pink {
		    background: #de3882;
		}
		    button.pink:hover, .btn.pink:hover, [type=submit].pink:hover {
		        background: #bb1d63;
		    }
		button.purple, .btn.purple, [type=submit].purple {
		    background: #813fbe;
		}
		    button.purple:hover, .btn.purple:hover, [type=submit].purple:hover {
		        background: #63279c;
		    }
		    
		button.facebook, .btn.facebook, [type=submit].facebook {
		    background: #3B5998;
		}
		    button.facebook:hover, .btn.facebook:hover, [type=submit].facebook:hover {
		        background: #344f86;
		    }
		    
		button.twitter, .btn.twitter, [type=submit].twitter {
		    background: #00A0D1;
		}
		    button.twitter:hover, .btn.twitter:hover, [type=submit].twitter:hover {
		        background: #008db7;
		    }
		    
		button.twitter, .btn.twitter, [type=submit].twitter {
		    background: #00A0D1;
		}
		    button.twitter:hover, .btn.twitter:hover, [type=submit].twitter:hover {
		        background: #008db7;
		    }
		    
		button.google, .btn.google, [type=submit].google {
		    background: #C63D2D;
		}
		    button.google:hover, .btn.google:hover, [type=submit].google:hover {
		        background: #ae3427;
		    }
		    
		button.outlook, .btn.outlook, [type=submit].outlook {
		    background: #0072C6;
		}
		    button.outlook:hover, .btn.outlook:hover, [type=submit].outlook:hover {
		        background: #025fa0;
		    }
		    
		button.yahoo, .btn.yahoo, [type=submit].yahoo {
		    background: #6E329D;
		}
		    button.yahoo:hover, .btn.yahoo:hover, [type=submit].yahoo:hover {
		        background: #5b2485;
		    }
		
		button[disabled], .btn[disabled], [type=submit][disabled],
		button.disabled, .btn.disabled, [type=submit][disabled] {
		    background: #cbcfd6;
		    color: #6f7886;
		}
		
		::-webkit-file-upload-button {
		    background-color: #33aad6;
		    color: #fff;
		}
		    ::-webkit-file-upload-button:hover {
		        background-color: #1e8ab2;
		    }
		    
/*		.planner form p:nth-child(even) {
			background-color: #f1f3f5;
		}
		.planner form p:last-child {
			background-color: transparent;
		}*/
		.planner form input[type=text],
		input[type=text].clean
		{
			background: transparent;
			border: 0;
			box-shadow: none;
			font-size: 28px;
			padding: 20px 0;
			margin: 0 auto;
			text-align: left;
		}
		.planner form input::-webkit-input-placeholder{
			text-align: left !important;
		}
		.planner form label
		{
			text-align: left;
			padding: 5px 10px 5px;
			display: none;
		}
		#reis-aanvragen button {
			padding: 12px 10px;
			width: 48%;
			margin: 0 2% 0 0 !important;
			display: inline-block;
		}
		#reis-aanvragen button:last-child { margin: 0 0 0 2% !important; }

		#reis-aanvragen input[type=text],
		#reis-aanvragen input[type=tel] {
			background-color: transparent;
			border-bottom: 1px solid #c1c2c3;
			margin-bottom: 10px;
			box-shadow: none;
		}
		    
		/**
		 *   Tables
		 */
		th, thead td {
		    color: #66727e;
		    border-bottom: 2px solid #e4d5d2;
		}
		
		/**
		 *   List items
		 */
		li:before {
		    color: #8aa0bf;
		}
		
		/**
		 *   Navigation
		 */
		.navigation a {
		    color: #626d79;
		}
		    .navigation a:hover {
		        background: #ffeeea;
		    }
		    .sidemenu .navigation a:hover {
		        background: rgba(0,0,0,0.1);
		    }
		.navigation li {
		    border-color: #dedede !important;
		}
		    
		hr {
			height: 0px;
			border: 0;
			border-bottom: 1px solid #cacccf;
			margin-bottom: 10px;
		}
		
		.footer {
			display: none;
		}


/*
*	NAVIGATION.CSS  /  mobile version
*/

		body { padding-top: 47px; }
		.body-planner { padding-top: 50px; }
		
		.header {
		    z-index: 100;
		    background-image: none !important;
		    z-index: 10000;
		    margin: 0;

		    position: fixed;
		    top: -18px;
		    left: 0;
		    width: 100%;
	    }	    
		    .header .wrap {
			    border-top: 0;
		 	    border-radius: 0px;
			    width: 100%;
			    padding: 0;
			    margin: 0;
			    background-image: none !important;
		    }
		    .header ul, .header .logo {
		    	display: none;
		    }
		    .header .title {
		    	display: inline-block;
		        text-align: center;
		    	font-weight: 400;
		    	line-height: 45px;
		    	
		    	color: rgb(141,141,141);
		    	color: #ff5735;
		    	color: white;
		    }
		    .header nav {
			    text-align: center;
		    	min-height: 0px;
		    	margin: 0;
		    	padding: 0;
				background: #ff5735;
				background: #ff5735;
				
				/* Fixed Android's fixed position issues */
				border-top: 20px solid #ff5735;
				
/*		    	box-shadow: inset 0 2px 1px -1px rgba(255,255,255,0.3),
		    				inset 0 -3px 0px -2px rgba(0,0,0,0.05),
		    				inset 0 1px 2px rgba(0,0,0,0.2);*/
		    	
		    	width: 100%;
		
		  	    min-height: 0px;
		    }
		        .header nav a.btn {
		            display: none;
		        }
		        .header nav a.mobile-only {
		        	position: absolute;
		        	top: 20px;
		        	
		        	display: inline-block !important;
		        	
		            padding: 12px 18px;
		            margin: 0;
		            margin-right: 0;
		            background: none;
		            font-size: 1em;
		
		            font-weight: 500;
		            text-decoration: none;
		            
		            color: rgb(141,141,141);
		            color: white;
		            
		            border-radius: 0;
		        }
		        	.header nav a.mobile-only i {
   			            font-size: 1.5em;
		        	}
		        .header nav a.form-submitter {
	        		font-size: 1.3em;
	        		padding: 0 15px;
	        		font-weight: normal;
	        		line-height: 45px;
	        	}
		        .header nav a.form-submitter i {
	        		font-size: .95em;
	        	}
		        #menu-trigger {
		        	left: 0px;
		        }
		        .header nav a.right {
		        	right: 0px;
		        }
		        .header nav a.left {
		        	left: 0px;
		        }
			        .header nav a.right:hover {
			        	background-color: rgba(0,0,0,0.05);
			        }
		        .header nav li {
		            float: left;
		            padding: 15px 0;
		        }
		            .header nav li a {
		                display: inline-block;
		                padding: 8px 20px;
		                margin-right: 20px;
		                
		                font-weight: 500;
		                text-decoration: none;
		                
		                border-radius: 5px;
		            }
		    .header .btn, .header button {
		        margin-top: 12px;
		        padding: 4px 16px;
		        font-size: .8em;
			}
		    .header .title {
		    	font-size: 1.3em;
		    }
		
		/* Menu bar die onderaan de pagina blijft zweven */
		.footer-menu {
			z-index: 9999999;
			display: block;
			background: white;
			background-color: #fff;

			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;			
			border-top: 1px solid #9499A3;
		}
			.footer-menu ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}
				.footer-menu ul li {
					display: inline-block;
					float: left;
					text-align: center;
				}
					.footer-menu ul li.col2 {
						width: 20%;
					}
					.footer-menu ul li.col3 {
						width: 30%;
					}
					.footer-menu ul li.col33 {
						width: 33.3333%;
					}
					.footer-menu ul li.col4 {
						width: 40%;
					}
					.footer-menu ul li.col25 {
						width: 25%;
					}
				.footer-menu ul li i {
					display: block;
					font-size: 2.5em;
					color: #606773;
				}
				.footer-menu ul li a {
					display: inline-block;
					color: rgb(200,200,200);
					color: #606773;
					
					font-weight: light;
					text-decoration: none;
					width: 100%;
					font-size: .85em;
					padding: 8px 10px 0px;
				}
				.footer-menu ul li.current a,
				.footer-menu ul li.current i {
					color: #ff5735;
				}

		.navigation.vertical {
		    display: block;
		    list-style: none;
		}
		    .navigation.vertical li {
		        border-bottom: 1px solid;
		    }
		    .sidemenu .navigation.vertical li {
		        border-bottom: 0px solid;
		    }
		        .navigation.vertical li:first-child {
		            border-top: 1px solid;
		        }
		        .sidemenu .navigation.vertical li:first-child {
		            border-top: 0px solid;
		        }
		    .navigation.vertical li a {
		        display: block;
		        padding: 8px 20px;
		        
		        font-size: 13px;
		        font-weight: 500;
		        text-decoration: none;
		    }
		    .sidemenu .navigation.vertical li a {
		        padding: 12px 20px;
		        font-size: 14px;
		    }
		    .sidemenu .navigation.vertical li a:hover {
		    	color: #ff5735;
		    	background-color: transparent;
		    }
		    .sidemenu .navigation.vertical li a i {
		    	font-size: 22px;
		    	vertical-align: middle;
		    }
		    
		.sidemenu {
			padding: 10px 0 !important;
			margin-left: 0 !important;
			margin-right: 20px !important;
		}
		.sidemenu .navigation {
			margin: 0;
			padding: 0;
		}
		
		#menu {
			display: none;
			margin: 0 !important;
			width: auto;
			position: fixed;
			bottom: 59px;
			right: 0;
			border-radius: 0;
			z-index: 9999;
			box-shadow: 0 -0 5px 2px rgba(0,0,0,0.1);
		}

/*
*	LAYOUT.CSS  /  mobile version
*/

		.nopadding { padding: 0 !important; }
		.nohorizontalpadding {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		.nomargin { margin: 0 !important; }
		#page {
			padding: 0;
			margin: 0 auto;
			height: 100%;
			overflow: auto;
		}
		.center { display: block; margin: 0 auto; text-align: center; }
		
		.wrap {
		    margin: 0 auto; 
		    overflow: visible;   
		}
		.btn.center { margin-right: 0; }
		    .wrap {
		        position: relative;
		        padding: 0;
		        width: 100%;
		    }
		
		.planner {
			position: relative;
			z-index: 999;
			background: transparent;
			width: 100%;
			border-radius: 0;
			margin: 0;
			padding: 0;
			text-align: center;
		}
		
		.dialog-window {
		    position: fixed;
		    top: 100px;
		    left: 5%;
		    width: 90%;
		    background: white;
		    z-index: 999999999;
		    padding: 25px;
		    border-radius: 5px;
		    box-shadow: 0px 10px 50px rgba(0,0,0,0.3);
		}
			.dialog-window h2 { text-align: center; }
			.dialog-window .btn,
			.dialog-window button, 
			.dialog-window input[type="submit"] { float: right; margin-bottom: 0;margin-right: 0; }
			.dialog-window .dialog-cancel { float: none; }
		
			
		p { padding: 10px 15px 10px; }
			
		.inloggen {
			border-radius: 2px;
			padding: 0 20px 20px;
			text-align: center;
		}
		.inloggen ol li {
			text-align: left;
		}
			.alert legend {
		    	border-bottom: 1px solid #cacccf;  
		   		text-align: center;
		    }
		    .inloggen legend {
		    	display: none;
		    }
		    .inloggen span {
		    	display: block;
		    	text-align: left;
		    	padding-bottom: 10px;
		    }
		    .inloggen .btn, .inloggen input {
		    	width: 100%;
		    }
		   
		.button-holder {
			text-align: center;
			padding: 10px 0;
		}
		    
		.alert {
			border-radius: 2px;
			padding: 14px 18px;
			margin: 0;
			width: 100%;
			display: block;
			height: auto !important;
		}
			.alert.big {
				font-size: 1.2em;
				padding: 20px 25px;
				text-align: center;
			}
			.alert legend {
				margin: 0;
				padding-top: 0;
			}
		
		.reismogelijkheid {
			font-size: 1.1em;
			text-align: left;
			height: 110px;
			position: relative;
		}
		.reismogelijkheid .btn {
			margin-top: 15px;
		}
		#reismogelijkheden-holder > .btn {
			margin: 0 10px 10px !important;
			padding: 5px 10px;
			font-size: .9em;
		}
		#reismogelijkheden-holder > .btn:nth-child(2) {
			float: right;
		}
		.reismogelijkheid div {
			line-height: 1.8em;
		}
		.reismogelijkheid-detail {
			display: none !important;
		}
		.reismogelijkheid-selected .vertrekstation,
		.reismogelijkheid-selected .aankomststation {
			display: table-cell;
		}
		.reismogelijkheid .info {
			display: none;
		}
		.reismogelijkheid .info ul {
			list-style: none;
			padding-left: 0;
			margin-left: 25px;
			position: relative;
		}
		.reismogelijkheid .info ul li {
			line-height: 35px;
			padding-right: 25px;
			position: relative;
		}
		.reismogelijkheid .info ul li:before {
		   content: "";
		   display: inline-block;
		   width: 10px;
		   height: 10px;
		   background-color: #66727e;
		   border-radius: 50px;
		   font-size: 50px;
		   line-height: 35px;
		   margin-right: 25px;
		   margin-left: -7px;
		}
		.reismogelijkheid .info ul li:hover:before {
		   border: 3px solid #66727e;
		   margin-left: -10px;
		   margin-bottom: -3px;
		   margin-right: 22px;
		}
		
		.reismogelijkheid .info ul li:after {
		   content: "";
		   display: block;
		   position: absolute;
		   top: 14px;
		   left: -4px;
		   width: 4px;
		   height: 35px;
		   background-color: #66727e;
		}
		.reismogelijkheid .info ul li:last-child:after {
		   content: "";
		   display: none;
		}
		.reismogelijkheid .info ul li.overstap:before, .reismogelijkheid .info ul li.overstap:hover:before {
			font-family: FontAwesome;
			display: inline-block;
			font-size: 1.6em;
			content: "\f0e7";
			background: transparent;
			color: #66727e;
			border: 0;
		    margin-right: 25px;
		    margin-left: -7px;
		    margin-bottom: 0;
		}
		.reismogelijkheid .info ul li.overstap:after {
		   content: "";
		   display: none;
		}	
		#reismogelijkheden-holder {
			text-align: left;
		}
		
			
		/* Grid system */
		[class*='col'], .content, .sidebar {
		    display: inline-block;
		    vertical-align: top;
		    *zoom: 1;
		    
		    margin: 0;
		}
		
		.banner {
			border-radius: 5px;
			width: 100%;
			text-align: center;
			padding: 25px;
		}
		
		.col10 { width: 100%; }
		.col9 { width: 100%; }
		.col8 { width: 100%; }
		.col7, .content { width: 100%; }
		.col6 { width: 100%; }
		.col5 { width: 100%; }
		.col4 { width: 100%; }
		.col3, .sidebar { width: 100%; }
		.col2 { width: 100%; }
		.col1 { width: 100%; }
		    
		/* Offsets */
		.offset8 { margin-left: 0; }
		.offset7 { margin-left: 0; }
		.offset6 { margin-left: 0; }
		.offset5 { margin-left: 0; }
		.offset4 { margin-left: 0; }
		.offset3 { margin-left: 0; }
		.offset2 { margin-left: 0; }
		.offset1 { margin-left: 0; }
		
		
		.one-half,
		.one-third,
		.one-fourth,
		.one-fifth,
		.two-fifth,
		.one-sixth,
		.one-seventh,
		.mobile-one-half,
		.mobile-one-third,
		.mobile-one-fourth,
		.mobile-one-fifth,
		.mobile-two-fifth,
		.mobile-one-seventh,
		.mobile-three-seventh,
		.mobile-three-eighth {
		    display: inline-block;
		    vertical-align: top;
		    *zoom: 1;
		    text-align: center;
		}
		
		.one-half {		width: 100%; }
		.one-third {	width: 100%; }
		.one-fifth {	width: 50%; }
		.two-fifth {	width: 50%; }
		.one-sixth {	width: 100%; }
		.one-seventh {	width: 100%; padding-top: 15px; }
		
		.mobile-one-half,
		.mobile-one-third,
		.mobile-one-fourth,
		.mobile-one-fifth,
		.mobile-two-fifth,
		.mobile-one-seventh,
		.mobile-three-seventh,
		.mobile-three-eighth {
			padding: 5px 0;
			line-height: 1.2em;
		}
		
		.mobile-one-half { width: 50%; }
		.mobile-one-third { width: 33%; }
		.mobile-one-fourth { width: 25%; }
		.mobile-one-fifth { width: 20%; }
		.mobile-two-fifth { width: 40%; }
		.mobile-one-seventh { width: 14.2%; }
		.mobile-three-seventh { width: 42.8%; }
		.mobile-three-eighth { width: 37.5%; }
		
		.one-seventh input {
			margin: 0;
			padding: 0;
			width: auto;
		}
		
		.plannen-title {
			display: table;
			width: 100%;
			font-size: 20px !important;
			padding: 10px !important;
		}
		.table-cell {
			display: table-cell;		
		}
		.mobile-icon-middle {
			display: table-cell;
			vertical-align: middle;
		}
		
		.left {
		    float: left;
		}
		.right {
		    float: right;
		}
		
		.vertically-centered {
			position: absolute;
			left: 50%;
			top: 50%;
		}
		    
		.subtitle {
			margin-top: 5px;
			padding-top: 0;
			display: block;
			width: 100%;
			border: 0;
		}
		
		.plannen-title-prijs {
			text-align: center;
			width: 90%;
			margin: 0 5%;
			padding: 0;
			float: none;
			display: none;
		}

/*
*	FORMS.CSS  /  mobile version
*/

		.planner form input[type=submit] {
			margin-top: 15px;
			display: block;
			width: 94%;
			margin: 5px 3% 0;
			padding-top: 12px;
			padding-bottom: 12px;
		}
		.planner label {
			text-align: center;
		}
		 
		/* Texty inputs */
		input, textarea {
		    padding: 15px 14px;
		    margin-bottom: 0px;
		
		    border-radius: 0;
		    font-size: 1.3em;
		    
		    background-color: #f1f3f5;
		}
		    textarea {
		        resize: vertical;
		        
		        min-height: 100px;
		        max-height: 600px;
		    }
		        textarea.small {
		            min-height: 45px;
		            max-height: 150px;
		        }
		        textarea.tall {
		            min-height: 200px;
		            max-height: 750px;
		        }
		    input:focus, textarea:focus {
		        outline: none;
		    }
		    
		select {
		    -webkit-appearance: none;
		    border: none;
		    
		    font-family: inherit;
		    font-size: 1.3em;
		    font-weight: 500;
		    
		    padding: 9px 20px 10px;
		    margin-bottom: 0px;
		    
		    border-radius: 2px;
		}
		    select:focus {
		        outline: none;
		    }
		    
		button, .btn, [type=submit], [type=reset], [type=button] {
		    display: inline-block;
		    padding: 10px 19px;
		    margin-right: 20px; /* Multiple buttons next to each other */
		    margin-bottom: 10px;
		    
		    border: none;
		    border-radius: 2px;
		    
		    font-size: 13px;
		    font-weight: 500;
		    text-decoration: none;
		}
			button.big, .btn.big, [type=submit].big, [type=reset].big, [type=button].big {
				width: 100%;
			}
			button.right, .btn.right, [type=submit].right, [type=reset].right, [type=button].right {
				margin-right: 0;
			}
		    ::-webkit-file-upload-button {
		        padding: 9px 19px 8px;
		        
		        border: none;
		        border-radius: 5px;
		        
		        font-size: 13px;
		        font-weight: 500;
		        cursor: pointer;
		    }
		    form button, [type=submit], [type=reset] {
		        padding: 10px 23px;
		    }
		    button.small, .btn.small, [type=submit].small, [type=reset].small, [type=button].small {
		    	padding: 4px 12px;
		    	margin-right: 0;
		    	margin-bottom: 5px;
		    	font-size: 13px;
		    }
		    button.large, .btn.large, [type=submit].large, [type=reset].large, [type=button].large {
		    	width: 100%;
		    	text-align: center;
		    }
		    
		.inloggen .btn {
			margin-right: 0;
		}
		    
		label {
		    display: block;
		    padding: 4px 0 8px;
		    
		    line-height: 19px;
		    font-weight: 500;
		}
		
		legend {
		    display: block;
		    width: 100%;
		    padding-top: 20px;
		    padding-bottom: 10px;
		
		    position: relative;
		    
		    font-size: 15px;
		    font-weight: light;
		}
		
		/**
		 *   Full-size forms
		 */
		.full {
			margin-bottom: 15px;
		}
		legend, .full p {
		    border-bottom: 0;    
		}
		.full input {
			font-size: 1.2em;
		}
		.full label {
			line-height: 1.4em;
		}
		.full p {
		    min-height: 70px;
		    margin: 5px 0;
		    padding: 0;
		    padding-bottom: 5px;
		    font-size: 1.1em;
		}
		.full .help {
		    display: block;    
		    margin-top: -2px;
		    
		    font-size: 13px;
		    font-style: normal;
		    font-weight: normal;
		    color: #9ba5b6;
		}
		.full .status {
		    padding-left: 20px;
		}
		.full button, .full .btn, .full input[type="submit"], .full input[type="button"] {
			display: block;
			margin: 0 auto;
		}
		.full label {
		    float: left;
		    padding: 5px 0 15px;
		}
		.full input[type=submit] {
			width: 90%;
			margin: 0 5%;
		}
		.full p.one-fifth,
		.full p.two-fifth,
		.full p.one-seventh {
			width: 100%;
			padding: 0;
			margin: 10px 0;
		}
		.full p.one-seventh {
			min-height: 0;
			width: 50% !important;
			display: inline-block;
			margin: 0 !important;
			text-align: left;
		}
			.full p.one-seventh label {
				padding: 15px 0px 15px 45px !important;
				width: 100%;
				text-align: left;
			}
				.full input[type=checkbox] {
					-webkit-
				}
			.full p label {
				padding: 0 15px 5px;
			}
			.full .alert {
				padding: 18px 15px;
				margin: 10px auto 0;
				width: 90%;
			}
		

.custom-checkbox {
  position: relative;
  display: inline-block;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  width: 100%;
}
.custom-checkbox label {
	padding: 0 !important;
	margin: 0 !important;
}
.custom-checkbox span {
  width: 50px !important;
  height: 30px !important;
  cursor: pointer !important;
  position: absolute !important;
  padding: 0 !important;
  top: 10px !important;
  left: 0;
  background: #ccc !important;
  border: 0 !important;
  border-radius: 3px !important;
}
.custom-checkbox span:after {
  content: '' !important;
  width: 22px !important;
  height: 22px !important;
  position: absolute !important;
  top: 2px !important;
  left: 2px !important;
  border: 2px solid white !important;
  background: white;
  border-radius: 3px;
}
.custom-checkbox input[type=checkbox] {
  visibility: hidden;
}
.custom-checkbox input[type=checkbox]:checked + span:after {
	right: 2px !important;
	left: auto !important;
}
.custom-checkbox input[type=checkbox]:checked + span {
  background: #ff5735 !important;
}

		/**
		 *   Horizontal forms
		 */
		.horizontal p,
		.full p {
		    margin: 0 5% !important;
		    padding: 5px 0;
		    display: inline-block;
		    width: 90% !important;
		    position: relative;
		}
		.horizontal input,
		.horizontal textarea,
		.horizontal select,
		.full input {
		    width: 100%;
		    display: inline-block !important;
		}
		.full input[type=checkbox] {
			width: auto;
		}
		.horizontal p span {
		    font-weight: bold;
		}
		    p input {
		    	width: 100%;
		    }
/*		#field-datum {
			display: inline-block;
			width: 50%;
			margin-right: 0;

			font-size: .85em;
		    border-top: 1px solid #c1c2c3;
		    border-right: 1px solid #c1c2c3;
		}
		#field-tijd {
			display: inline-block;;
			width: 40%;
			margin-left: 0;

			font-size: .85em;
		    border-top: 1px solid #c1c2c3;
		}
			#field-datum input,
			#field-tijd input {
				text-align: center;
				padding: 8px 10px;
			}*/
		.horizontal p > i,
		.full p > i {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			padding: 28px 10px;
			font-size: 2em;
			width: 10%;
			text-align: center;
			color: #606773;
			color: #ccc;
		}
		#field-van,
		#field-naar,
		#field-datum,
		#field-tijd,
		.field-with-icon-container {
			padding: 5px 0 5px 10% !important;
		}

		/**
		 *   File upload fields
		 */
		 
		[type=file] {
		    -webkit-appearance: none;
		    padding: 0;
		    border: none;
		}
		    [type=file]::-webkit-file-upload-button {
		        -webkit-appearance: none;
		        padding-left: 43px;
		        
		        background-image: url('cloud.png');
		        background-repeat: no-repeat;
		        background-position: 15px 50%;
		    }
		    
.reismogelijkheid > h4 {
	display: none;
	margin: 10px auto 5px;
}

.reismogelijkheid-selected {
	background-color: transparent !important;
}

.reismogelijkheid-selected,
.traject {
	display: table;
	margin: 0 0 10px;
	padding: 0;
	width: 100% !important;
}
.traject {
	padding-top: 15px;
	margin: 0;
}
	.traject form {
	}
		.traject form button {
			font-size: 1em !important;
			float: right;
			padding: 8px 10px !important;
			margin: 15px !important;
		}
	.traject .one-fifth,
	.traject .one-fifth span {
		font-size: 1em !important;
		text-align: left !important;
	}
	.reismogelijkheid-selected > h4 {
		display: block;
		margin-left: 18px;
		padding: 0 0 5px;
	}
	.reismogelijkheid-selected > div {
		border: 0 !important;
		padding: 10px 5px !important;
	}
		.reismogelijkheid-selected .one-fifth .table-label {
			display: block;
			text-align: center;
			padding: 10px 0 0;
			font-size: .9em;
		}
		.traject .table-label {
			display: block;
		}
		.reismogelijkheid-selected .one-fifth .verylarge {
			display: block;
			text-align: center;
			padding: 0;
			font-size: 1.4em;
			margin-top: 0 !important;
		}
	.reismogelijkheid-selected > .info {
		display: none !important;
	}
	.reismogelijkheid > .traject-info > .vertrekstation,
	.reismogelijkheid > .traject-info > .aankomststation {
		width: 100%;
		display: block;
		padding: 0 !important;
		margin: 0;
		position: relative;
		line-height: 40px;
		font-size: 1.5em;
		border-top: 0 !important;
	}
	.reismogelijkheid > .traject-info > .vertrekstation span,
	.reismogelijkheid > .traject-info > .aankomststation span {
		float: right;
	}
		.reismogelijkheid > .traject-info > .vertrekstation { margin-top: 10px; }
		.reismogelijkheid > .traject-info > .aankomststation { margin-bottom: 15px; }

		.reismogelijkheid > .traject-info > .aankomsttijd,
		.reismogelijkheid > .traject-info > .vertrektijd {
			position: absolute;
			left: -16px;
		}
		.reismogelijkheid > .traject-info > .vertrektijd {
			top: 10px;
		}
		.reismogelijkheid > .traject-info > .aankomsttijd {
			bottom: 10px;
		}

		.reismogelijkheid > .traject-info > .vertrekstation:after {
			content: "";
			display: block;
			position: absolute;
			top: 22px;
			left: -4px;
			width: 4px;
			height: 40px;
			background-color: #66727e;
		}
		.reismogelijkheid > .traject-info > .vertrekstation:before,
		.reismogelijkheid > .traject-info > .aankomststation:before {
			content: "";
			display: inline-block;
			width: 10px;
			height: 10px;
			background-color: #66727e;
			border-radius: 50px;
			font-size: 50px;
			line-height: 35px;
			margin-right: 25px;
			margin-left: -7px;
		}
	
	.reismogelijkheid-selected.failure {
		display: none;
	}
	.traject-info {
		display: block;
		position: relative;
		margin: 0 7% !important;
	}
	#matches-success ol {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	#matches-success .alert {
		padding: 0 !important;
	}
	
#matches-success p,
#matches-failure p {
	padding: 0 0 10px !important;
}
		
.plannen-title-wrap {
	display: none;
}

.plannen-title-prijs {
	padding: 0 !important;
	display: block;
	border-top: 0 !important;
}
	.plannen-title-prijs p,
	.plannen-title-prijs span {
		padding: 0;
		margin: 0;
		display: inline-block;
		vertical-align: top;
		font-size: 1em !important;
		letter-spacing: 0 !important;
	}
	.plannen-title-prijs #new-price {
		padding: 0 5px;
		text-decoration: underline;
	}

.laten-weten-button {
	width: 90%;
	margin: 10px 5%;
	text-align: center;
}

.matches-counter {
	margin-bottom: 10px;
}

ol li input[type=text],
ol li input[type=email] {
	margin-top: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	margin-bottom: 0;
}
ol li button {
	width: 100%;
}

input[type=text] {
	-webkit-appearance: textfield;
	-webkit-user-modify: read-write-plaintext-only;
}
input::-webkit-input-placeholder {
	text-align: left !important;
}


.traject-dagen {
	float: none !important;
	padding: 5px 15px 0;
}
	.traject-dagen span {
		width: auto;
		display: inline-block !important;
	}
	
/* Tiles, zoals in het overzicht met zoekmogelijkheden */
.tiles-list {
	padding: 0;
	margin: 0 0 15px;
	list-style: none;
}
	.tiles-list .zoekmogelijkheid:nth-child(odd) {
		background-color: #f1f1f1;
	}
		.tiles-list .tile {
			display: block;
			position: relative;
			text-decoration: none;
			color: rgb(102, 114, 126);
			margin: 0;
			padding: 14px 18px;
		}
			.tiles-list .tile .arrow {
				display: block;
				position: absolute;
				right: 15px;
				padding: 6px 12px;
				margin-right: 0;
				margin-bottom: 5px;
				font-size: 13px;
				margin-top: -13px;
				top: 50%;
			}
			.tiles-list .tile p {
				padding: 0 40px 0 0;
			}
			.tiles-list .tile .mogelijkheid {
				line-height: 30px;
				font-size: 1.6em;
				display: block;
				margin-bottom: 5px;
			}
	
/* Traject overview, gebruikt om reizen te weergeven in bijv. de 'uitgelicht' sectie */

.traject-overview {
	display: block;
	width: 100%;
	
	padding: 10px !important;
	margin: 0;
	border-radius: 0;
	
	position: relative;
	text-align: left;
	color: #66727e;
	text-decoration: none;
	font-size: 1em !important;
}
	.traject-overview .btn small {
		font-weight: normal;
	}
	.traject-overview .price {
		display: block;
		padding: 15px 10px;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		margin-bottom: 15px;
	}

	.traject-overview .station {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		*zoom: 1;
		
		padding: 0;
		margin-bottom: 15px;
		
		line-height: 30px;
		font-size: 1.6em;
		text-align: center;
	
		width: 45%;
	}
		.traject-overview .station:nth-child(1) {
			text-align: left;
		}
		.traject-overview .station:nth-child(3) {
			text-align: right;
		}
	.traject-overview .divider {
		font-size: 20px;
		width: 10%;
		margin-bottom: 15px;
		line-height: 30px;
		vertical-align: middle;
		text-align: center;
		display: inline-block;
	}
	
/* Overlay wanneer een nieuwe pagina geladen wordt */
.overlay-white {
	position:fixed;
	width:100%;
	height:100%;
	background:rgb(255,255,255);
	z-index:999999999999999999;
}
	.tabs-sidebar > div {
		padding: 0 !important;
		width: 50% !important;
		display: inline-block;
	}
	.tabs-sidebar div {
		margin: 0;
		padding: 0;
	}
	.tabs-sidebar div div div {
		padding: 10px 5px;
	}
	.tabs-sidebar ul {
		padding: 0 !important;
		width: 50% !important;
		display: inline-block !important;
		border-radius: 0;
	}
		.tabs-sidebar div a {
			text-decoration: none !important;
			color: #66727e;
			font-size: 1.3em;
			border-radius: 0;
		}
		.tabs-sidebar .large {
			font-size: 1.2em;
		}
	
.block-dag,
.clickable-list {
	width: 90% !important;
	margin-left: 5%;
	padding-top: 5px;
}
	.clickable-list ol {
		margin-top: 15px;
	}
	.clickable-list div {
		text-decoration: none;
		color: #66727e;
		font-size: 1em;
		padding: 18px 15px;
		margin: 0;
		text-align: left;
		position: relative;
		border-top: 1px solid #e1e2e3;
		background: transparent;
	}
	.clickable-list .alert {
		border: 0 !important;
		margin-bottom: 10px;
		margin-top: 5px;
	}
	.block-dag > a,
	.clickable-list > a {
		display: block;
		text-decoration: none;
		color: #66727e;
		font-size: 1.5em;
		padding: 18px 15px;
		margin: 0;
		text-align: left;
		position: relative;
		border-top: 1px solid #e1e2e3;
	}
		.block-dag a .btn,
		.clickable-list a .btn {
			position: absolute;
			margin: 0;
			right: 10px;
			top: 12px;
			padding: 0;
			font-size: 1.8em;
			background: none !important;
			color: #66727e;
		}
		.block-dag a:first-child,
		.clickable-list a:first-child {
			border: 0;
		}
	.clickable-list .btn {
		margin: 5px 0 10px;
		color: white;
		font-size: 1.2em;
		text-align: center;
		padding: 15px;
		border: 0;
	}
	
#old-price {
	font-size: 1.2em;
}

.page-loader-animation {
	height: 16px;
	width: 16px;
	position: fixed !important;
	top: 22px !important;
	left: 20px !important;
	z-index: 999999999999999999999 !important;
	display: none;
}



.swiper-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999999;
	margin-bottom: 10px;
}
	.swiper-header #bar {
		background-color: #ff5735;
		color: white;
		font-weight: 200;
		width: 100%;
		padding: 0;
		height: 50px;
		text-align: left;
		line-height: 30px;
		font-size: 1.4em;
	}
		.swiper-header #bar .tabs-holder {
			display: block;
			width: 100%;
			transform: translate3d(0,0,0);
			font-smoothing: antialiased;
		}
			.swiper-header #bar button {
				-webkit-appearance: none;
				border: 0;
				display: inline-block;
				width: 33.333%;
				background-color: transparent;
				color: #fff;
				height: 50px;
				font-weight: bold;
				font-size: 30px;
				line-height: 50px;
				text-align: center;
				cursor: pointer;
				position: relative;
				vertical-align: top;
				padding: 0;
				margin: 0;
				border-radius: 0;
			}
				.swiper-header #bar button.active:before {
					content: "";
					display: block;
					width: 100%;
					position: absolute;
					top: 0px;
					border-top: 2px solid white;
				}
			.swiper-header #bar #submitter {
				width: 20%;
				position: absolute;
				right: -20%;
				transform: translate3d(0,0,0);
				font-smoothing: antialiased;
			}
				.swiper-header #bar #submitter:hover {
					background-color: rgba(0,0,0,0.1);
				}
				.swiper-header #bar #submitter:before {
					content: "";
					border-left: 1px solid rgba(255,255,255,0.6);
					position: absolute;
					left: 0;
					top: 10px;
					height: 30px;
					margin: 0;
				}
.swipe-main {
	overflow: hidden;
	visibility: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
.swipe-wrap {
	overflow: auto;
	position: relative;
	height: 100%;
}
.swipe-wrap > div {
	overflow-x: hidden;
	overflow-y: auto;
	float:left;
	width:100%;
	position: relative;
	padding: 0;
	background-color: white;
	min-height: 100%
}
	.swipe-wrap > div > iframe {
		width: 100%;
		height: 100%;
	}

.ajax-container {
	text-align: left;
}

.tile-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
	.tile-navigation li {
		display: inline-block;
		width: 50%;
	}
		.tile-navigation li a {
			display: block;
			text-align: center;
			padding: 30px 25px;
			text-decoration: none;
			color: #66727e;
			position: relative;
		}
			.tile-navigation li a span {
				display: block;
				text-align: center;
				padding: 0;
				margin: 0;
			}
				.tile-navigation li a span .ajax-container div {
					position: absolute;
					right: 15%;
					top: 15%;
					padding: 1px 8px;
					border-radius: 5px;
					color: white;
					background-color: #ff5735;
					font-weight: bold;
				}
			.tile-navigation li a i {
				font-size: 4em;
				display: block;
				text-align: center;
				padding: 0;
				margin: 0;
			}

.mobile-bottom-loader {
	position: fixed;
	bottom: 0px;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	color: white;
	border-radius: 3px 3px 0 0;
	padding: 10px 15px;
	font-size: 1.3em;
}
.mobile-bottom-error {
	position: fixed;
	bottom: -200px;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	color: white;
	border-radius: 3px 3px 0 0;
	padding: 10px 15px;
	font-size: 1.3em;
}
	.mobile-bottom-error a {
		color: #fff;
		text-decoration: underline;
	}

.mobile-melding {
	margin: 10px 5%;
	width: 90%;
}
	.mobile-melding i {
		font-size: 9em;
		display: block;
		text-align: center;
		margin: 25px 0 15px;
	}
	.mobile-melding h2 {
		text-align:center;
		padding-bottom: 10px;
	}
	.mobile-melding p {
		text-align: center;
		width: 100%;
		padding: 0 25px;
	}

.huge-icon {
	font-size: 3em;
	display: block;
	width: 100%;
	text-align: center;
	margin: 25px 0 15px;
}

/*
Autocorrect
*/

.ui-autocomplete {
	z-index: 99999;
	background-color: transparent !important;
	border: 0 !important;
	box-shadow: none !important;
	list-style: none;
   	position: relative !important;
	border-radius: 0 !important;
	opacity: 1 !important;
	text-align: left !important;
	left: 0 !important;
	padding: 0 auto;
}
.ui-autocomplete .ui-menu-item a {
	padding: 10px 0 0 60px !important;
	font-size: 1.4em !important;
}