/**
 *   Butterfly UI
 *   A simpler framework for simpler sites
 *
 *   Navigation, links, and everything hypertext.
 */
 
/* Top header bar */

.header {
    position: relative;
    z-index: 10;
	background-size: cover;
	background-position: center center;
	background-attachment:fixed;
}
    .header-background-image {
        width: 100%;
        background-color: rgba(255, 98, 66, .65);
    }
        .header-small .header-background-image {
            background: none;
        }
    .header .wrap {
 	    border-bottom-left-radius: 5px;
 	    border-bottom-right-radius: 5px;
 	    padding: 0;
	    border-top: 0;
	    width: 1050px;
    }
    .header-small .wrap {
    	background-position: center top;
    }
        .header.fixed:hover {
            margin-top: 65px;
        }
        .header.fixed + * {
            margin-top: 110px;
        }
    .header .title, .header .logo, .header ul {
    	display: block;
        margin-right: 40px;
        margin-bottom: 18px;
        text-decoration: none;
    }
    .header .logo span {
        font-size: 2.5em;
        text-decoration: none;
        color: white;
        color: rgba(255,255,255,0.9);
        font-weight: 600;
        display: inline-block;
        padding-top: 16px;
        padding-left: 5px;
        letter-spacing: -2px;
        font-family: 'Open Sans', sans-serif;
    }
    .header-small .logo span {
        font-size: 2.3em;
    }
        .header .title, .header .logo {
            position: relative;
            top: 2px;
            
            display: inline-block;
        }
        .header .title img, .header .logo img {
            height: 50px;
            opacity: .9;
            margin-bottom: 5px;
        }
        .header-small .title img, .header-small .logo img {
            height: 40px;
            margin-top: 5px;
            opacity: .9;
            margin-bottom: 10px;
        }
    .header nav {
        margin-right: 20px;
        padding-bottom: 10px;
        margin-top: 0;
        margin-left: 20px;
        
        margin: 0;
        padding: 25px 25px 10px;
        
  	    min-height: 400px;
    }
        .header nav .slogan {
            position: absolute;
            left: 50%;
            top: 180px;

            margin-left: -450px;
            width: 900px;

            text-align: center;
        }
    .header-small nav {
  	    min-height: 0px;
        padding: 15px 25px 0;
    }
        .header nav li {
            float: left;
            padding: 15px 0;
        }
            .header nav li a {
                display: inline-block;
                padding: 8px 20px;
                margin-right: 20px;
                
                font-weight: 500;
                text-decoration: none;
                
                border-radius: 5px;
            }
    .header .btn {
        margin-top: 14px;
        padding: 6px 15px;
        background-color: rgba(255,255,255,0.8);
        color: #ff4d29;
    }
        .header .btn:hover {
            background-color: white;
            color: #ff4d29;
        }
    .header .title {
    	font-size: 1.2em;
    }

    
.navigation.vertical {
    display: block;
    list-style: none;
    padding: 0;
}
    .navigation.vertical li {
        border-bottom: 1px solid;
    }
    .sidemenu .navigation.vertical li {
        border-bottom: 0px solid;
    }
        .navigation.vertical li:first-child {
            border-top: 1px solid;
        }
        .sidemenu .navigation.vertical li:first-child {
            border-top: 0px solid;
        }
    .navigation.vertical li a {
        display: block;
        padding: 8px 20px;
        
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
    }
    .sidemenu .navigation.vertical li a {
        padding: 14px 25px;
        font-size: 14px;
    }
    
.sidemenu {
	padding: 10px 0 !important;
	margin-left: 0 !important;
	margin-right: 20px !important;
}
.sidemenu .navigation {
	margin: 0;
	padding: 0;
}