/**
 *   Butterfly UI
 *   A simpler framework for simpler sites
 *
 *   This is the reset file, where all browsers get a consistent base style.
 */
 
* {
    margin: 0;
    padding: 0;
    
    -webkit-font-smoothing: antialiased;
    
    /* The better box model */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    /* Fixing iOS/Win8 text fails */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
    /* Because other browsers get scared of Webkit */
    ::-webkit-file-upload-button {
        margin: 0;
        padding: 0;
        
        -webkit-font-smoothing: antialiased;
    }

.nolink {
	color: rgb(102, 114, 126);
	text-decoration: none;
	cursor: default;
}
	.nolink:hover {
		color: rgb(102, 114, 126);
		text-decoration: none;
	}

/**
 *   Bug fixes
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
audio:not([controls]), [hidden], .print-only {
    display: none;
}
img, fieldset, legend {
    border: none;
}

abbr[title] {
    border-bottom: 1px dotted;
}
b, strong, .bold {
    font-weight: 500;
}
button, a, [type=submit], [href], label[for], [type=reset] {
    cursor: pointer;
}
    ::-webkit-file-upload-button {
        cursor: p;
    }
[disabled] {
    opacity: .7;
    cursor: default;
}
nav li {
    list-style: none;
}
p a {
    text-decoration: none;
}

acronym, abbr {
    border-bottom: 1px dotted;
    cursor: help;
}

span.hilite, i.hilite, mark {
    padding: 2px 4px;
    border-radius: 2px;
}

blockquote {
    padding: 20px 30px 10px;
    border-radius: 5px;
}
    blockquote + cite {
        position: relative;
        display: block;
        padding: 20px 0 40px 30px;
        
        font-weight: 500;
        font-style: normal;
    }
        blockquote + cite:after {
            content: '';
            display: block;
            position: absolute;
            left: 30px;
            top: 0;
            
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }

/*
 *   Input resets
 */
input, textarea, button {
    font-family: inherit;
}
    ::-webkit-file-upload-button {
        font-family: inherit;
    }
[type=search] {
    -webkit-appearance: none;
    appearance: normal;
}
    ::-webkit-search-cancel-button,
    ::-webkit-search-decoration {
        -webkit-appearance: none;
    }
::-moz-focus-inner {
    border: none;
}
textarea {
    overflow: auto;
    vertical-align: top;
}

button, [type=button], [type=reset], [type=submit] {
    border: none;
    -webkit-appearance: button;
    *overflow: visible;
}

/**
 *   Tables
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
    
    width: 100%;
    margin-bottom: 25px;
}
    th, thead td {        
        padding: 10px 15px;
        
        font-weight: bold;
        text-align: left;
    }
    td {
        padding: 6px 15px;
        border-bottom: 1px solid #e4d5d2;
    }
    tr:nth-child(2n) {
        background: #ffeeea;
    }
    

ul, ol {
	padding-left: 25px;
}

.page-loader-animation {
	height: 16px;
	width: 16px;
	position: fixed !important;
	top: 50% !important;
	left: 50% !important;
	margin-top: -8px !important;
	margin-left: -8px !important;
	z-index: 999999999999999999999 !important;
	display: none;
}
.ajax-container {
	text-align: center;
}