.header {
	background-attachment: initial;
}
.center, .wrap {
    margin: 0 auto 25px; 
    overflow: visible;
}
    .wrap {
        position: relative;
        padding: 0 0px;
        width: 100%;
    }

.planner {
	top: 316px;
	margin-left: -50%;
	width: 100%;
	padding: 15px 10px;
}
	.planner .tabs div {
		border-radius: 0;
		background: rgba(255,255,255,0.8);
		padding: 0 0 15px;
	}
	.tabs-reisplanner {
		max-width: 100%;
	}
		.tabs-reisplanner li {
			background-color: rgba(230,230,230,0.75);
		}
			.tabs-reisplanner li.ui-state-active {
				background-color: rgba(255,255,255,0.8);
			}
	.planner label {
		display: none;
	}
	.planner input[type=text] {
		border-color: white;
		background-color: white;
	}
	.planner input {
		margin-bottom: 0;
	}
	.planner input[type=submit] {
		margin: 0 !important;
	}

.dialog-window {
    position: fixed;
    top: 100px;
    left: 50%;
    width: 500px;
    background: white;
    z-index: 999999999;
    padding: 25px;
    margin-left: -250px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.3);
}
	.dialog-window h2 { text-align: center; }
	.dialog-window .btn,
	.dialog-window button, 
	.dialog-window input[type="submit"] { float: right; margin-bottom: 0;margin-right: 0; }
	.dialog-window .dialog-cancel { float: none; }

	
.inloggen {
	padding: 0 15px 10px;
}
.alert {
	border-radius: 5px;
	padding: 15px 20px;
	margin-bottom: 15px;
}

[class*='col'], .content, .sidebar {
    margin: 0 2% 20px;
}

.col10 { width: 96%; }
.col9 { width: 86%; }
.col8 { width: 76%; }
.col7, .content { width: 66%; }
.col6 { width: 56%; }
.col5 { width: 46%; }
.col4 { width: 36%; }
.col3, .sidebar { width: 26%; }
.col2 { width: 16%; }
.col1 { width: 6%; }

.offset8 { margin-left: 80%; }
.offset7 { margin-left: 70%; }
.offset6 { margin-left: 60%; }
.offset5 { margin-left: 50%; }
.offset4 { margin-left: 40%; }
.offset3 { margin-left: 30%; }
.offset2 { margin-left: 20%; }
.offset1 { margin-left: 10%; }

.header .wrap {
	width: 100%;
}
.sidemenu {
	padding: 10px 0 !important;
	margin-left: 2% !important;
	margin-right: 0% !important;
}
.tabs ul {
	width: 100%;
	text-align: center;
}
.promotional-reisplanner {
	left: 10px;
	top: 345px;
}
button, input[type=button], input[type=submit], .btn {
	padding-left: 15px !important;
	padding-right: 15px !important;
}