/**
 *   Butterfly UI
 *   A simpler framework for simpler sites
 *
 *   Giving everything a consistent typographic style.
 */

body, html {
    font: 13px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 35px;
    line-height: 43px;
    font-weight: 400;
    letter-spacing: -1.5px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;

    padding-bottom: .4em;
}
h2 {
    font-size: 25px;
    line-height: 33px;
    font-weight: 400;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    
    padding-bottom: 10px;
}
    .sidebar h2 {
        font-size: 15px;
        line-height: 25px;
		margin-top: 10px;
		padding: 10px 0 15px;
		font-weight: 500;
    }
h3 {
    font-size: 24px;
    line-height: 39px;
    font-weight: 300;
    
    padding-bottom: .7em;
}
h4 {
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
}

p, h4 {
    padding-bottom: 1em;
}

i.hilite {
    font-style: normal;
}

code, pre {
    font: 90%/140% Inconsolata, monospace;
}

blockquote {
    font: italic 14px/24px Georgia, serif;
}

ol li {
    min-height: 70px;
    margin: 5px 0;
    font-size: 1.3em;
	line-height: 1.4em;
    padding: 5px 0 15px;
    text-align: left;
}
ol li .help {
    display: block;    
    margin-top: -2px;
    
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    color: #9ba5b6;
}
ol li label {
    display: block;    
    margin-top: -2px;
    
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
	color: rgb(102, 114, 126);
}
ol li form {
    margin-top: 10px;    
}
.slogan {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
    font-size: 3em;
    color: white;
    opacity: .95;
}
    .slogan small {
        display: block;
        margin-top: 25px;
        letter-spacing: 0;
        font-size: .5em;
        font-family: Helvetica, Arial, sans-serif;
    }
.plannen-title-wrap {
	margin: 0 !important;
	padding: 10px 0 20px 25px;
}
	.plannen-title-wrap h1 {
		font-size: 30px;
		text-align: left;
	}
.plannen-title-prijs p {
	margin: 0;
}
.plannen-title-prijs span {
	font-size: 40px;
	letter-spacing: -2px;
}

.small {
	font-size: 0.8em;
}
.larger {
    margin-top: 6px;
    display: inline-block;
    font-size: 1.3em;
}
.large {
    margin-top: 6px;
    display: inline-block;
    font-size: 1.6em;
}
	ul.large li, ol.large li {
		padding-bottom: 10px;
	}
.verylarge {
	font-size: 2em;
	display: inline-block;
	margin-top: 4px;
	font-weight: light;
}
    .reismogelijkheid .verylarge {
        padding: 15px 0 25px;
    }
.huge {
	display: inline-block;
	font-size: 3.2em;
	letter-spacing: -1px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 300;
}
	.center .verylarge, .center .huge {
		text-align: center;
	}

.documentatie {
    margin-top: 15px;
}
.documentatie * {
    text-align: left;
}
    .documentatie h2 {
        font-size: 1.3em;
        padding-left: 20px;
    }

.footer a {
    text-decoration: none;
}