.ios7 .dwo {
    opacity: .2;
    filter: Alpha(Opacity=20);
}
.meereizen * {
    outline: none;
}
.meereizen table {
    margin-bottom: 0px;
}
.meereizen .dw {
    background: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.meereizen .dwwr, .meereizen .dww {
	background: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.meereizen .dwwc, .meereizen .dwwl {
    background: none;
}
.meereizen .dwwr, .meereizen .dwc, .meereizen .dwwc, .meereizen .dwwl {
    margin: 0;
    padding: 0;
}
.meereizen .dwc {
    padding-top: 40px;
    vertical-align: top;
}
.meereizen .dwhl {
    padding-top: 0;
}
.meereizen .dwl {
    text-align: left;
    text-indent: 5px;
    color: #ababab;
}
.meereizen .dwwc {
    padding: 0;
}
.meereizen .dwwr {
    position: relative;
    padding: 10px;
}
.meereizen .dwwo {
    background: linear-gradient(#fff 0%,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #fff 100%);
    background: -webkit-gradient(linear,left bottom,left top,from(#fff),color-stop(0.52, rgba(245,245,245,0)),color-stop(0.48, rgba(245,245,245,0)),to(#fff));
    background: -webkit-linear-gradient(#fff 0%,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #fff 100%);
    background: -moz-linear-gradient(#fff 0%,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #fff 100%);
}
.meereizen .dwwol {
    padding: 0 10px;
    height: 34px;
    margin: -18px 0 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.meereizen .dw-li {
    color: #9d9d9d;
    font-size: 22px;
    text-align: left;
    text-shadow: none;
}
.meereizen .dw-hl {
    background: rgba(0,122,255,.2);
}
.meereizen .dw-sel {
    color: rgb(111, 111, 111);
}
.meereizen .dwv {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}
.meereizen .dwbc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    border: 0;
    background: rgb(231, 233, 235);
    border-radius: 0 0 3px 3px;
}
.meereizen .dwb {
    margin: 3px 7px;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    color: white;
    background: #ff5735;
    text-shadow: none;
    font-size: 13px;
    font-weight: normal;
    box-shadow: none;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -webkit-border-radius: 3px;
}
.meereizen .dwb-a {
    opacity: .5;
}
.meereizen .dwb-s, .meereizen .dwb-n {
    width: auto;
    float: right;
    text-align: right;
}
.meereizen .dwb-s .dwb {
    font-weight: bold;
}
.meereizen .dwb-c {
    width: auto;
    float: left;
    text-align: left;
}
	.meereizen .dwb-c a {
	    background: transparent;
	    color: rgb(141, 141, 141);
	}
/* Clickpick mode */
.meereizen .dwpm .dwwl {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
}
.meereizen .dwpm .dww {
    background: none;
}
.meereizen .dwpm .dwwol {
    display: block;
}
.meereizen .dwwb, .meereizen .dwwb:hover {
    background: #fff;
    text-shadow: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
}
.meereizen .dwwb.dwb-a {
    background: #fff;
}
.meereizen .dwwbp {
    bottom: 0;
    top: auto;
}
.meereizen .dwwbm {
    top: 0;
    bottom: auto;
}
.meereizen .dwwb span {
    display: none;
}
.meereizen .dwwb:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 13px;
    height: 13px;
    left: 50%;
    margin-top: -7px;
}
.meereizen .dwwbp:after {
    border-left: 1px solid #9d9d9d;
    border-bottom: 1px solid #9d9d9d;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: bottom left;
    -moz-transform: rotate(-45deg);
    -moz-transform-origin: bottom left;
}
.meereizen .dwwbm:after {
    border-left: 1px solid #9d9d9d;
    border-top: 1px solid #9d9d9d;
    transform: rotate(45deg);
    transform-origin: top left;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: top left;
    -moz-transform: rotate(45deg);
    -moz-transform-origin: top left;
}

/* Bubble arrow */
.meereizen .dw-bubble-bottom .dw-arr {
    top: 0;
    border-color: transparent transparent #fff transparent;
}
.meereizen .dw-bubble-top .dw-arr {
    bottom: 0;
    border-color: #fff transparent transparent transparent;
}
.meereizen.dw-bubble .dwwr {
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
/* Top, bottom, inline display */
.meereizen.dw-top .dw, .meereizen.dw-bottom .dw, .meereizen.dw-inline .dw {
    border-radius: 0;
    -webkit-border-radius: 0;
}
.meereizen.dw-nobtn .dwwr,
.meereizen.dw-inline .dwwr {
    padding-top: 0;
}
/* Select */
.meereizen.dw-select .dwwo {
    display: none;
}
/* Multiple select */
.meereizen .dwwms .dwwol {
    display: none;
}
.meereizen .dwwms .dw-li {
    padding-left: 5px;
    padding-right: 40px;
    color: #000;
}
.meereizen .dwwms .dw-msel:after {
    left: auto;
    right: 0;
    color: #ff5735;
}
.meereizen .dw-i {
	text-align: center;
}
.meereizen .dwcc > .dwc:last-child table {
    margin-bottom: 35px;
}
.meereizen .dwcc > .dwc:last-child table td {
    border: 0;
}